<div class="stat-cards container-fluid d-flex flex-md-column flex-sm-row justify-content-between align-items-center gap-4 w-100 h-100 p-0 mt-3 mt-md-0">
    <div class="completed card container-fluid d-flex justify-content-center align-items-center m-0 p-0">
        <div class="information d-flex align-items-center justify-content-between flex-md-column flex-sm-row p-0">
            <img src="../../../../assets/images/completed-check-icon.png" alt="completed-check" />
            <div class="details d-flex flex-column align-items-center">
                <p class="percent m-0">{{completedPercentage}}%</p>
                <p class="text m-0">Completed Tasks</p>
            </div>
        </div>
    </div>
    <div class=" active card container-fluid d-flex justify-content-center align-items-center m-0 p-0 ">
        <div class="information d-flex align-items-center justify-content-between flex-md-column flex-sm-row p-0 ">
            <img src="../../../../assets/images/Active-tasks-icon.png" alt="completed-check" />
            <div class="details">
                <p class="percent m-0">{{activePercentage}}%</p>
                <p class="text m-0">Active Tasks</p>
            </div>
        </div>
    </div>
</div>