
.form{
  z-index: 9;
}

.modal-content {
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
  
.custom-input {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 5px;
}
  
.custom-input:focus {
  outline: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.btn-submit-cancel button{
  border: 2px solid rgba(237, 176, 70, 1);
  color:black;
  width: 100px;
}

.save{
  background-color: rgba(237, 176, 70, 1);
}

.close{
  background-color: white;
}