.logo {
    height: 9%;
    margin-bottom: 60px;
}

.logo h1 {
    font-size: 36px;
    line-height: 2.81rem;
    color: rgba(186, 81, 18, 1);
    font-weight: 700;
}

.option-choices {
    height: 91%;
    width: 100%;
}

.btn-add-task {
    width: 18%;
    min-height: 50px;
    min-width: 70% !important;
    max-width: 250px;
    height: 4.25rem;
    margin-bottom: 60px;
    background-color: white;
    border-radius: 12px;
    border: none;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
}

.btn-text {
    height: 59%;
    width: 74.5%;
}

.btn-text p {
    font-size: 20px;
    line-height: 25px;
    font-weight: 400;
}

.btn-text .add-task-icon {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: rgba(186, 81, 18, 1);
    color: white;
}

.side-nav-events ul {
    list-style-type: none;
}

.side-nav-events ul li {
    display: block;
    height: 44px;
    margin-bottom: 21px;
}

.side-nav-events ul li a {
    text-decoration: none;
    height: 100%;
    font-size: 16px;
    line-height: 20px;
    color: black;
}

.side-nav-events ul li a:hover {
    background-color: rgba(237, 176, 70, 1);
}

.side-nav-events ul li a.active {
    background-color: rgba(237, 176, 70, 1);
}

/* small screens */
.Top-bar .header {
    font-weight: 700;
    color: #BA5112;
}

.side-bar .add-task {
    border: 2px solid white;
    font-weight: 200;
    box-shadow: 0px 0px 5px 4px #ebedef;
}

.ddl-header {
    background-color: rgba(237, 176, 70, 1);
    border: 2px solid rgba(237, 176, 70, 1);
}

.mobile-view .add-task-mobile img {
    height: 15px;
    width: 15px;
}

.sign-up {
    background-color: #ba5112;
    border: 2px solid #ba5112;
    color: white;
}

.add-task-mobile {
    background-color: white;
    border: 2px solid white;
    box-shadow: 0px 0px 5px 4px #ebedef;
}
